name:game_menu
game_object:
	images:
		temp_player:
			posx:960
			posy:540
			width:36
			height:36
			scale:1
			rotation:0
			texture:asset/img/buttons/cross_button_still.png
	buttons:
		play:
			posx:650
			posy:800
			width:64
			height:36
			scale:3.5
			rotation:0
			texture:asset/img/buttons/play_button_still.png
			ho_texture:asset/img/buttons/play_button_hovered.png
			sound:asset/snd/clic_auughhh.ogg
			callback:no
	entities:
		pnj:
			posx:960
			posy:540
			width:36
			height:36
			scale:1
			rotation:0
			texture:asset/img/buttons/cross_button_still.png
			sound:asset/snd/clic_auughhh.ogg
			dialogue:Test
	texts:
	sound:
		path:asset/snd/AMOGUS.ogg
		volume:100
		pitch:1
		looping:yes
	background:
		map: