<scene_name: 'name'="game_scene">

<image:>
    <'name'="house1", 'posx'="1088", 'posy'="634", 'width'="128",
    'heigth'="128", 'scale'="1", 'rotation'="0",
    'texture'="assets/img/map/blue_house_right_top.png">
<image:>
    <'name'="ship", 'posx'="493", 'posy'="285", 'width'="128",
    'heigth'="128", 'scale'="1", 'rotation'="0",
    'texture'="assets/img/map/ship_crashed_top.png">

<text:>
    <'name'="percent", 'posx'="0", 'posy'="0", 'text'="0%",
    'font'="assets/font/American Captain.ttf", 'size'="20",
    'rotation'="0", 'style'="regular", 'color'="255;255;255;255",
    'outline_color'="0;0;0;255", 'outline_thickness'="2",
    'letter_spacing'="1", 'line_spacing'="1">
<text:>
    <'name'="kill_streak", 'posx'="1161", 'posy'="480", 'text'="0",
    'font'="assets/font/American Captain.ttf", 'size'="20",
    'rotation'="0", 'style'="regular", 'color'="255;255;255;255",
    'outline_color'="0;0;0;255", 'outline_thickness'="1",
    'letter_spacing'="1", 'line_spacing'="1">
<text:>
    <'name'="xp_points", 'posx'="0", 'posy'="0", 'text'="0 xp",
    'font'="assets/font/American Captain.ttf", 'size'="20",
    'rotation'="0", 'style'="regular", 'color'="255;255;255;255",
    'outline_color'="0;0;0;255", 'outline_thickness'="2",
    'letter_spacing'="1", 'line_spacing'="1">

<entity:>
    <'name'="pnj", 'posx'="460", 'posy'="500", 'width'="13", 'heigth'="15",
    'scale'="1", 'rotation'="0", 'texture'="assets/img/player/deadmongus.png",
    'back_texture'="assets/img/map/blue_house_right_top.png", 'action_sound'="assets/snd/vote.ogg", 
    'dialogue'="If you read this you are gay", 'quest'="test", >

<sound:>
    <'path'="assets/snd/main_theme.ogg", 'volume'="100", 'pitch'="1",
    'looping'="yes">

<background: 'type'="map">