name:home_menu
game_object:
	images:
		title:
			posx:1500
			posy:600
			width:3000
			height:1417
			scale:0.65
			rotation:0
			texture:asset/img/title_screen.png
	buttons:
		play:
			posx:650
			posy:800
			width:64
			height:36
			scale:3.5
			rotation:0
			texture:asset/img/buttons/play_button_still.png
			ho_texture:asset/img/buttons/play_button_hovered.png
			sound:asset/snd/clic_auughhh.ogg
			callback:play
		quit:
			posx:1270
			posy:800
			width:64
			height:36
			scale:3.5
			rotation:0
			texture:asset/img/buttons/quit_button_still.png
			ho_texture:asset/img/buttons/quit_button_hovered.png
			sound:asset/snd/clic_auughhh.ogg
			callback:no
		options:
			posx:1765
			posy:930
			width:74
			height:36
			scale:3
			rotation:0
			ho_texture:asset/img/buttons/options_button_hovered.png
			texture:asset/img/buttons/options_button_still.png
			sound:asset/snd/clic_auughhh.ogg
			callback:no
	entities:
	texts:
	sound:
		volume:100
		pitch:1
		looping:no
	background:
		path:asset/img/background/background_space.png