name:home_menu
game_object:
	buttons:
		test_button:
			posx:800
			posy:500
			width:64
			height:32
			scale:10
			rotation:35
			texture:img/buttons/play_button.png
			ho_texture:img/buttons/play_button_ho.png
			sound:snd/clic_auughhh.ogg
			callback:temporary
	entities:
	texts:
		text1:
			text:Every poopoo time is a peepee time but not every peepee time is a poopoo time.
			font:font/DeterminationMono.ttf
			posx:100
			posy:100
			size:20
			style: underlined
			rotation:0
			color:sfWhite
			outline_color:sfRed
			outline_tickness:2
			line_spacing: 1
			letter_spacing: 1
	background:
		path:
		map
		procedural