name:home_menu
game_object:
	buttons:
		title:
			posx:960
			posy:400
			width:3000
			height:1417
			scale:0.65
			rotation:0
			ho_texture:img/title_screen.png
			texture:img/title_screen.png
			sound:snd/clic_auughhh.ogg
		play:
			posx:650
			posy:800
			width:64
			height:36
			scale:3.5
			rotation:0
			ho_texture:img/buttons/play_button_hovered.png
			texture:img/buttons/play_button_still.png
			sound:snd/clic_auughhh.ogg
		quit:
			posx:1270
			posy:800
			width:64
			height:36
			scale:3.5
			rotation:0
			ho_texture:img/buttons/quit_button_hovered.png
			texture:img/buttons/quit_button_still.png
			sound:snd/clic_auughhh.ogg
		options:
			posx:1765
			posy:930
			width:74
			height:36
			scale:3
			rotation:0
			ho_texture:img/buttons/options_button_hovered.png
			texture:img/buttons/options_button_still.png
			sound:snd/clic_auughhh.ogg
	entities:
	texts:
	background:
		path:img/background_space.png