name:main_scene
game_object:
	images:
		house1:
			posx:1056
			posy:610
			width:128
			height:128
			scale:1
			rotation:0
			texture:assets/img/blue_house_right_top.png
	buttons:
	entities:
	texts:
		percent:
			posx:0
			posy:0
			text:0
			font:assets/font/DeterminationMono.ttf
			size:30
			rotation:0
			style:regular
			color:255;255;255;255
			outline_color:0;0;0;255
			outline_tickness:1
			letter_spacing:1
			line_spacing:1
	sound:
		path:assets/snd/AMOGUS.ogg
		volume:100
		pitch:1
		looping:yes
	background:
		map: