name:main_scene
game_object:
	images:
		house1:
			posx:1056
			posy:610
			width:128
			height:128
			scale:1
			rotation:0
			texture:assets/img/blue_house_right_top.png
		ship:
			posx:461
			posy:260
			width:128
			height:128
			scale:1
			rotation:0
			texture:assets/img/ship_crashed_top.png
	buttons:
	entities:
	texts:
	sound:
		path:assets/snd/AMOGUS.ogg
		volume:100
		pitch:1
		looping:yes
	background:
		map: