name:victory
game_object:
	images:
		victory:
			posx:775
			posy:400
			width:1280
			height:720
			scale:1.3
			rotation:0
			texture:assets/img/victory_background.jpg
		red:
			posx:915
			posy:500
			width:12
			height:14
			scale:10
			rotation:0
			texture:assets/img/red.png
	buttons:
		play:
			posx:650
			posy:750
			width:64
			height:36
			scale:3.5
			rotation:0
			texture:assets/img/buttons/play_button_still.png
			ho_texture:assets/img/buttons/play_button_hovered.png
			sound:assets/snd/toggle.ogg
			callback:play
		quit:
			posx:1270
			posy:750
			width:64
			height:36
			scale:3.5
			rotation:0
			texture:assets/img/buttons/quit_button_still.png
			ho_texture:assets/img/buttons/quit_button_hovered.png
			sound:assets/snd/toggle.ogg
			callback:quit
	entities:
	texts:
	sound:
		path:assets/snd/defeat.ogg
		volume:100
		pitch:1
		looping:no