
<scene_name: 'name'="home_menu">

<images:>
	    <'name'="title", 'posx'="1500", 'posy'="650", 'width'="3000", 'height'="1417", 'scale'="0.65", 'rotation'="0", 'texture'="asset/img/title_screen.png">


<buttons:>
		<'name'="play", 'posx'="650", 'posy'="900",
		'width'="64", 'height'="36", 'scale'="3.5", 'rotation'="0",
		'texture'="asset/img/buttons/play_button_still.png",
		'ho_texture'="asset/img/buttons/play_button_hovered.png",
		'sound'="asset/snd/clic_auughhh.ogg", 'callback'="play">

<sounds:>
		<'name'="music", 'path'="asset/snd/amongus_trap_remix.ogg", 'volume'="100", 'pitch'="1", 'looping'="no">

<background: 'type'="img", 'path'="asset/img/background/background_space.png">