name:options
game_object:
	images:
	buttons:
		quit:
			posx:1270
			posy:900
			width:64
			height:36
			scale:3.5
			rotation:0
			texture:asset/img/buttons/quit_button_still.png
			ho_texture:asset/img/buttons/quit_button_hovered.png
			sound:asset/snd/clic_auughhh.ogg
			callback:quit
		return:
			posx:650
			posy:900
			width:36
			height:36
			scale:3.5
			rotation:0
			texture:asset/img/buttons/cross_button_still.png
			ho_texture:asset/img/buttons/cross_button_hovered.png
			sound:asset/snd/clic_auughhh.ogg
			callback:no
	entities:
	texts:
	sound:
	background:
		path:asset/img/background/background_space.png